.App {
  text-align: left;
}

.App-logo {
  height: 80px;
}

.App-header {
  background: url('./Background-Splash.png');
  background-position: center;
  height: 130px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}
